h1 {
    font-size: 24px;
    font-family: Roboto;
    text-align: center;
    padding-top: 16px;
}

h2,
h3,
h4,
h5,
h6 {
    font-size: 16px;
    font-family: Roboto;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 6px;
    padding-bottom: 6px;
}

#hh2 {
    text-align: center;
}

#paintingHand {
    width: 100%;
    height: auto;
}

.footer {
    color: white;
    background-color: rgb(59, 59, 59);
    padding: 22px;
}

.footer li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: Roboto;

    /* pitää footerin sivun alla */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* pitää footerin sivun alla */
.content {
    flex: 1;
    padding-top: 56px;
}

.content button {
    padding: 14px 28px;
    border-radius: 100%;
}

p {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 6px;
    padding-bottom: 6px;
}

.form {
    padding-left: 50px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 kolumnia */
    gap: 10px;
    /* Väli kuvien välillä */
    padding: 10px;
}

.gallery-grid img {
    width: 100%;
    height: auto;
    display: block;
}

.colorPalette {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

/* värinapit */
.color {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #000;
}


.rectangle1,
.rectangle2 {
    padding-left: 14px;
    padding-right: 14px;
}

/*iconit*/
.fa{
    font-size: 14px;
    text-align: center;
}

#painter{
    padding-left: 15%;
}